{{ form_start(form) }}
    Nom emballage
    {{ form_widget(form.nomuval) }} <br>
    <button class="btn btn-success col-4 offset-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
