{% extends 'base.html.twig' %}

{% block title %}Edit Uval{% endblock %}

{% block body %}
    <h1>Edit Uval</h1>

    {{ include('uval/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('uval_index') }}">back to list</a>

    {{ include('uval/_delete_form.html.twig') }}
{% endblock %}
