{% extends 'base.html.twig' %}

{% block title %}Edit Uval{% endblock %}

{% block body %}
    <div class="offset-4 col-4">
        <h3>Mise à jour de l'unité de gestion</h3>
    
        {{ include('uval/_form.html.twig', {'button_label': 'Modifier'}) }}
    
        <a href="{{ path('uval_index') }}" class="btn btn-warning offset-2 col-md-4" style="margin-top: 10px;">Retour</a>
    
        {{ include('uval/_delete_form.html.twig') }}

    </div>
{% endblock %}
