{% extends 'base.html.twig' %}

{% block title %}Nouvel emballage{% endblock %}
{% block body %}
{% include "layouts/nav_head_produit.html.twig" %}
   <div class="content-wrapper">
        <section class="content">
            <div class="card col-6 offset-2">
                <div class="card-header"><p class="h5">Creation d'un nouvel emballage</p></div>
                <div class="card-body table-responsive p-0" style="height: 190px;">
                    {{ include('uval/_form.html.twig') }}
                </div>
            </div>

        </section>
   </div>

{% endblock %}
