{% extends 'base.html.twig' %}

{% block title %}New Magasin{% endblock %}

{% block body %}
<div class="offset-4 col-4">
    <h1>Create new Magasin</h1>

    {{ include('magasin/_form.html.twig') }}

    <a class="btn btn-warning col-md-4 offset-3" style="margin-top: 4px;" href="{{ path('magasin_index') }}">Retour</a>

</div>
{% endblock %}
