{% extends 'base.html.twig' %}

{% block title %}Margeprix index{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content">
            <div class="card col-6 offset-2">
                <div class="card-header"><p class="h6"><a href="{{ path('margeprix_new') }}">Nouvelle Marge</a></p></div>
                <div class="card-body table-responsive p-0" style="height: 390px;">
                
                    <table class="table table-head-fixed table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Marge</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for margeprix in margeprixes %}
                            <tr>
                                <td>{{ margeprix.id }}</td>
                                <td>{{ margeprix.marge | number_format(0, ' ', ' ') }} FCFA</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <!--/card-body-->
                <div class="card-footer">
                    @Developpeur: BITSA NZDZIE PASCAL
                </div>
            
            </div>

        </section>
    </div>
{% endblock %}
