{% extends 'base.html.twig' %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <br>
        <div class="container-fluid">

            <div class="col-md-12">

                <div class="card">

                    <table class=" table-head-fixed">
                        <thead class="table table-primary table-head-fixed">
                            <tr>
                                <td colspan='2'>Nouvelle sorie</td>
                            </tr>

                        </thead>
                    </table>
                    <!-- /.card-header -->
                    <div class="card-header form-inline">

                        <div class="card-body table-responsive p-0" style="height:500px;">
                            <table class="table table-head-fixed">

                                <form action="" method="post">

                                    <tbody class="table table-bordered">
                                        <tr>
                                            <th>ID</th>
                                            <th>Produit</th>
                                            <th>Qte</th>
                                        </tr>

                                        {% for produit in produits %}
                                        <tr>
                                            <td style="width: 1%;">
                                                <input type="checkbox" name="reception_id[]" value="{{produit.id}}" class="" id="">
                                            </td>

                                            <td style="width: 30%;">
                                                {{ produit.nom }} 
                                                <input type="hidden" name="reception_name[]" value="{{produit.id}}" class="form-control" id="">
                                                {{ produit.qteEnStock }}
                                                
                                            </td>
                                            
                                            <td style="width: 5;">
                                                <input style="width: 100%;" type="number" name="quantite[]" class="form-control" id="" min="1" max="200"> 
                                                
                                            </td>
                                
                                            </td>

                                        </tr>
                                        {% endfor %}

                                    </tbody>
                            </table>

                        </div>
                        <!-- /.card -->
                        <br>
                        <button type="submit" name="enregistrer" class="btn btn-success offset-4">Enregistrer
                            la commande</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>

{% endblock %}